/* Enter your custom styles here */
@media print {
 
}

/*.sapUiView {*/
/*   display: block;*/
/*}*/

.green {
    color: green;
}

.customCSS .fontSize1 {
    font-size: 1rem;
}
.customCSS .fontSize1_5 {
    font-size: 1.5rem;
}

.fontSize2 {
    font-size: 2rem;
}

.customCSS .fontSize3 {
    font-size: 3rem;
}
.customCSS .fontSize5 {
    font-size: 5rem;
}

.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}