/* Enter your custom styles here */

@media print {
      #content, #__component0---app--idApp {
        width: 100%;
        height: 1954px;
		margin: 0; 
		float: none;
      } 
}

/*.sapUiView {*/
/*   display: block;*/
/*}*/

.customCSS .green {
    color: green;
}

.customCSS .fontSize1 {
    font-size: 1rem;
}
.customCSS .fontSize1_5 {
    font-size: 1.5rem;
}

.customCSS .fontSize2 {
    font-size: 2rem;
}

.customCSS .fontSize3 {
    font-size: 3rem;
}
.customCSS .fontSize5 {
    font-size: 5rem;
}

.customCSS .italic {
	font-style: italic;
}